.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-section {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.matrix-layer {
  position: relative;
  z-index: 0;
  height: 75vh;
  border-radius: 15px;
  background-color: #ebedfe;
  overflow: hidden;
}
